div.ui.message.positive(ng-if='flash') {{ flash }}
div.ui.message.negative(ng-if='error') {{ error }}
form.ui.segment.form(ng-show='conference')
  .ui.purple.secondary.menu(ng-cloak=true)
    a.item(ng-href='/conferences/{{ conference.Slug || "new" }}' ng-class='{ active: tab == "conference" }')
      span(ng-if='conference.isPersistent()' ng-cloak=true)
        i.icon.student
        | {{ conference.Title }}
      span(ng-if='!conference.isPersistent()' ng-cloak=true)
        i.icon.file.outline
        | New conference
    a.item(ng-href='{{ conference.isPersistent() ? "/conferences/"+conference.Slug+"/events" : "#" }}' ng-class='{ active: tab == "events", disabled: !conference.isPersistent() }')
      i.icon.calendar
      | Events
      .ui.label {{ conference.EventsCount || 0 }}
    a.item(ng-href='{{ conference.isPersistent() ? "/conferences/"+conference.Slug+"/videos" : "#" }}' ng-class='{ active: tab == "videos", disabled: !conference.isPersistent() }')
      i.icon.film
      | Videos
      .ui.label {{ conference.VideosCount || 0 }}
    a.item(ng-href='{{ conference.isPersistent() ? "/conferences/"+conference.Slug+"/video_sources" : "#" }}' ng-class='{ active: tab == "video_sources", disabled: !conference.isPersistent() }')
      i.icon.database
      | Video sources
  div(ng-show='tab == "conference"')
    .field
    .two.fields
      .field.required
        label Title
        input(type='text' value='{{ conference.Title }}' ng-model='conference.Title')
      .field.required
        label Slug
        input(type='text' value='{{ conference.Slug }}' ng-model='conference.Slug' ng-disabled='conference.isPersistent()')

    .two.fields
      .field
        .field.required
          label Type
          select.ui.dropdown(ng-model='conference.Type' ng-dropdown=true)
            option(value='') Conference type
            option(ng-repeat='type in conferenceTypes' ng-value='type' ng-selected='type == conference.Type')
              | {{ type }}
        .field
          label Url
          input(type='text' value='{{ conference.Url }}'
            placeholder='http://' ng-model='conference.Url')

        .field.inline
          .ui.toggle.checkbox(ng-checkbox='conference.IsActive')
            input(type='radio' ng-checked='conference.IsActive' value='true')
            label Show on site
      .field(ng-show='false')
        .two.fields
          .field
            label Image
            //-img.ui.small.rounded.image(src='')
          .field
            a.ui.button(href='#') Upload image

    .field
      label Description
      textarea(type='text' value='{{ conference.Description }}' placeholder='Lorem ipsum...' ng-model='conference.Description')

    .ui.buttons
      button.ui.positive.button(ng-click='save()')
        | Save
      .or
      a.ui.button(href='/conferences')
        | Cancel

    button.ui.button.floated.right.primary.animated(ng-click='sync()' ng-show='conference.isPersistent()')
      .hidden.content
        i.icon.refresh.white
        | Sync
      .visible.content
        i.icon.refresh.white
        | {{ conference.UpdatedAt | timeAgo }}
    button.right.floated.ui.button.negative(ng-click='destroy()' ng-show='conference.isPersistent()')
      i.icon.trash
      | Destroy
  div(ng-if='tab == "events"' ng-include='"/templates/events/list.html"')
  div(ng-if='tab == "videos"' ng-include='"/templates/videos/list.html"')
  div(ng-if='tab == "video_sources"' ng-include='"/templates/conferences/video_sources/list.html"')
